.file-input-block {
	position: relative;
	overflow-y: hidden;
	height: 30px;
    margin-top: 30px;
    position: relative;
    width: auto;
}
.file-input-block:focus {
    outline: 0;
}
.file-input-block input {
    padding-bottom: 30px !important;
    top: -30px;
    position: absolute !important;
    z-index: 1;
    background: transparent !important;
    width: 30% !important;
}
.file-input {
    display: inline-block;
    position: absolute !important;
    bottom: 0;
    z-index: 1;
    border: 1px solid rgba(171, 205, 239, 0.2);
    border-radius: 2px;
    font-size: .95em;
    margin: -10px 0 0 0 !important;
    color: rgba(0,0,0,.8);
    padding: 5px 10px !important;
    cursor: pointer;
}
.file-input-block:focus{
    outline: 0;
}
.simple-file-input span{
    margin-right: 5px;
    font-size: 1.05em;
}
.simple-file-input:hover {
    border: 1px solid #42aef7;
    transition: .3s;
    color: #42aef7;
    cursor: pointer;
}
.avatar-file-input {
    border: 1px dashed #8c939d;
    color: #8c939d;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    font-size: .95em;
    margin: 0;
}