<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Почта ветров</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" type="image/x-icon" href="http://windmail.ru:8000/static/frontend/middle-logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
  <link type="text/css" href="../../static/frontend/styles/auth.css" rel="stylesheet" />
</head>
<body>
    <main class="sm-container auth">
		<form method="post" action="" class="settings-form django-form full-label-form" autocomplete="off" style="margin-top: 20vh;border-radius: 4px;">
            <h3>Установить новый пароль</h3>
              {% csrf_token %}
                {% for field in form %}
                 <div class="inputWrapper">
                     {{field.label_tag}}
                     {{field}}
                </div>
                    {% if field.errors%}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
             </div>
             <button class="send-btn" type="submit">Подтвердить</button>
         </form>
    </main>
</body>
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static "frontend/csrftoken.js" %}"></script>
</html>