body {
    --violet: #8673A1;
    --red: #fc5e53;
    --dark-blue: #409eff;
    --green: #8ccc5e;
    --yellow: #ffcf3f;
    --cherry: #993365;
    --pink: #ffcada;
    --blue: #6694a2;
    --gray: #c2c2c4;
    --orange: #f8943c;
}